/* RESET & MOBILE FIX */
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  overflow-x: hidden;
}

/* MOBILE GLOBAL */
@media (max-width: 576px) {
  h1 {
    font-size: 32px !important;
  }

  h2 {
    font-size: 26px !important;
  }

  h3 {
    font-size: 20px !important;
  }

  p {
    font-size: 15px;
  }
}
