.advantages {
  background: linear-gradient(135deg, #ff9800, #ffb300);
  padding: 80px 0;
}

.advantages-container {
  max-width: 1200px;
  margin: auto;
}

.advantages-title {
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 50px;
}

.advantages-content {
  display: flex;
  gap: 40px;
  align-items: center;
}

/* LEFT */
.advantages-list {
  flex: 1;
}

.adv-item {
  background: #fff;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 18px 20px;
  margin-bottom: 16px;
  border-radius: 8px;
  font-size: 18px;
}

.adv-item span {
  font-size: 22px;
}

/* RIGHT */
.advantages-right {
  flex: 1;
  text-align: center;
}

.advantages-right img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.hotline-btn {
  display: inline-block;
  background: #ffeb3b;
  color: #000;
  padding: 14px 28px;
  border-radius: 30px;
  font-weight: 800;
  text-decoration: none;
  margin-bottom: 10px;
}

.note {
  font-size: 14px;
  color: #333;
}
@media (max-width: 768px) {
  .advantages-content {
    flex-direction: column;
  }

  .advantages-title {
    font-size: 26px;
  }
}